@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
#root {
  height: 100%;
}

.buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-column-gap: 0.6em;
  margin: 0 1em;
}

.buttons a {
  font-size: 0.8em;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-column-gap: 0.7em;
  color: white;
  background: #34d580;
  border-radius: 0.9em;
  padding: 0.7em 1em;
}

.buttons a img {
  height: 1.3em;
}

.buttons a span {
  line-height: 1.3em;
}

.buttons .telefono {
  background: #161616;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  margin: 1em 0 0;
  color: #343434;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  color: #343434;
}

.tratamiento-hero img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 57%;
     object-position: 0% 57%;
}

.slider {
  display: block;
  position: relative;
  min-width: 12.5em;
}

.slider__wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
}

.slider .button {
  outline: none;
  border: none;
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background: white;
  text-align: center;
  vertical-align: middle;
  line-height: 2.4rem;
  color: #707070;
  font-weight: bold;
  -webkit-box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 1.1rem;
}

.slider__back-button {
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 5.6rem;
}

.slider__next-button {
  -webkit-transform: translate(50%);
          transform: translate(50%);
  top: 5.6rem;
  right: 0;
}

.slider .withTransition {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.inicio {
  display: none;
}

.overlay {
  position: absolute;
  background: linear-gradient(45deg, rgba(10, 10, 117, 0.98) 0%, #2c70be 100%);
  width: calc(100%);
  height: calc(100vh);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(10vh + 1em) auto;
      grid-template-rows: calc(10vh + 1em) auto;
  -webkit-animation: slide-menu 0.5s ease-in forwards;
          animation: slide-menu 0.5s ease-in forwards;
}

.overlay .closeBtn {
  -webkit-animation: show-x 0.5s 0.5s forwards;
          animation: show-x 0.5s 0.5s forwards;
}

.overlay__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: ". imagen";
}

.overlay__top img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagen;
  margin-left: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 1.5em;
  width: 1.5em;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
  cursor: pointer;
  opacity: 0;
}

.overlay__bot {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: (20%)[4];
      grid-template-rows: repeat(4, 20%);
}

.overlay__bot a {
  color: #ffffff;
  font-size: 1.2em;
}

.overlay__bot li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  opacity: 0;
}

.overlay__bot li:nth-of-type(1) {
  -webkit-animation: menu-item-anim 0.3s forwards 0.5s ease-in-out;
          animation: menu-item-anim 0.3s forwards 0.5s ease-in-out;
}

.overlay__bot li:nth-of-type(2) {
  -webkit-animation: menu-item-anim 0.3s forwards 0.6s ease-in-out;
          animation: menu-item-anim 0.3s forwards 0.6s ease-in-out;
}

.overlay__bot li:nth-of-type(3) {
  -webkit-animation: menu-item-anim 0.3s forwards 0.7s ease-in-out;
          animation: menu-item-anim 0.3s forwards 0.7s ease-in-out;
}

.overlay__bot li:nth-of-type(4) {
  -webkit-animation: menu-item-anim 0.3s forwards 0.8s ease-in-out;
          animation: menu-item-anim 0.3s forwards 0.8s ease-in-out;
}

.closeMenu {
  -webkit-animation: close-menu 0.5s ease-in forwards;
          animation: close-menu 0.5s ease-in forwards;
}

.closeMenu .closeBtn {
  -webkit-animation: hide-x 0.5s 0.5s forwards;
          animation: hide-x 0.5s 0.5s forwards;
}

.closeMenu li:nth-of-type(1) {
  -webkit-animation: hide-item-anim 0.3s forwards 0.5s ease-in-out;
          animation: hide-item-anim 0.3s forwards 0.5s ease-in-out;
}

.closeMenu li:nth-of-type(2) {
  -webkit-animation: hide-item-anim 0.3s forwards 0.6s ease-in-out;
          animation: hide-item-anim 0.3s forwards 0.6s ease-in-out;
}

.closeMenu li:nth-of-type(3) {
  -webkit-animation: hide-item-anim 0.3s forwards 0.7s ease-in-out;
          animation: hide-item-anim 0.3s forwards 0.7s ease-in-out;
}

.closeMenu li:nth-of-type(4) {
  -webkit-animation: hide-item-anim 0.3s forwards 0.8s ease-in-out;
          animation: hide-item-anim 0.3s forwards 0.8s ease-in-out;
}

.header {
  background: linear-gradient(45deg, rgba(61, 61, 242, 0.98) 0%, #68aaf5 100%);
  height: 10vh;
  padding: 0.5em 0;
}

.header__complete {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "logo hamburguerMenu";
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__complete span {
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  font-weight: bold;
  font-size: 1.5em;
}

.header__complete img {
  height: 1.5em;
  width: 1.5em;
  margin-left: 30%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hamburguerMenu;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
  cursor: pointer;
}

.header__left {
  display: none;
}

.header__right {
  display: none;
}

.hero {
  position: relative;
  color: #ffffff;
  background: black;
  height: 15em;
}

.hero__background {
  height: 15em;
  width: 100%;
  opacity: 0.6;
}

.hero__info {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 7%;
}

.hero__info p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  color: #ffffff;
  font-size: 1em;
}

.hero__info p span {
  display: block;
}

.tratamiento-hero {
  position: relative;
  height: 250px;
  overflow: hidden;
  color: white;
  background: black;
}

.tratamiento-hero img {
  height: 250px;
  width: 100%;
  opacity: 0.6;
}

.tratamiento-hero .tratamiento-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.tratamiento-hero .tratamiento-info p {
  color: #ffffff;
}

.informacion {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding-bottom: 2em;
}

.informacion__margen {
  width: 80%;
  margin: 0 auto;
}

.informacion__margen .buttons {
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-row-gap: 1em;
  margin-top: 1em;
}

.informacion__margen p {
  margin: 1.5em 0 0;
}

.informacion__margen h2 {
  text-align: left;
  padding-top: 1em;
  margin: 0;
}

.informacion__margen h3 {
  margin: 1em 0;
  color: #6e6e6e;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.tratamientos {
  -ms-grid-rows: 0fr 0fr 20em;
      grid-template-rows: 0fr 0fr 20em;
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
}

.tratamientos .tarjeta {
  /*display: grid;
grid-template-columns: repeat(8,1fr);
width: 400%;
justify-content: center;
column-gap: 1%;
*/
  min-width: 12.5em;
  opacity: 0.5;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
  margin: 1.5em auto;
  -webkit-box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
}

.tratamientos .tarjeta__contenedor {
  overflow: hidden;
  position: relative;
  background: black;
  width: 100%;
  height: 5.6em;
}

.tratamientos .tarjeta__imagen {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.tratamientos .tarjeta__tratamiento {
  font-size: 1em;
  position: absolute;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tratamientos .tarjeta__info {
  margin: 0.1em 0.8em;
}

.tratamientos .tarjeta__info .tarjeta-info-descripcion {
  font-size: 0.8em;
}

.tratamientos .tarjeta__inferior-leer {
  padding: 0.4rem 1rem;
  font-weight: bold;
  font-size: 0.75em;
}

.tratamientos .tarjeta__inferior-leer img {
  margin-left: 1rem;
  width: 8%;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.tratamientos .tarjeta__inferior .tarjeta-inferior-franja {
  height: 0.6em;
  background: #ff2a55;
}

.tratamientos .activa {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tratamientos .activa:hover .tarjeta__imagen {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.tratamientos .activa:hover .tarjeta__inferior-leer img {
  padding-left: 0.5em;
}

.tratamientos__tarjetas {
  -ms-grid-column-align: center;
      justify-self: center;
}

.quienessomos {
  background: white;
}

.quienessomos__contenido {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
}

.quienessomos__contenido img {
  margin-top: 2em;
  width: 100%;
  max-height: 30em;
  -webkit-box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 11px 11px 100px rgba(0, 0, 0, 0.1);
}

.quienessomos__contenido .boton {
  margin: 2em 0;
}

.quienessomos__contenido .boton__contenido {
  font-size: 0.8em;
  padding: 0.6em 2em;
}

.testimonios {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr 0fr 32em;
      grid-template-rows: 0fr 0fr 32em;
  width: 80%;
  margin: 0 auto;
}

.testimonios__tarjetas {
  margin-top: 2em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.testimonios .slider {
  width: 15.8em;
}

.testimonios .slider__wrapper {
  -ms-grid-columns: (16em)[3];
      grid-template-columns: repeat(3, 16em);
}

.testimonios h2 span {
  display: block;
}

.testimonios .tarjeta {
  margin-top: 2em;
  opacity: 0.5;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-align: center;
  border-radius: 0.8em;
  background: #ff97701a;
  border: 1px solid #e5e5e5;
}

.testimonios .tarjeta__imagen {
  height: 0;
}

.testimonios .tarjeta__imagen img {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6em;
  height: 6em;
}

.testimonios .tarjeta__testimonio {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.testimonios .tarjeta__testimonio blockquote {
  margin: 1em 0 0;
  font-style: italic;
  padding: 2em 1.5em 1em;
  font-weight: bold;
}

.testimonios .tarjeta__testimonio p {
  font-style: normal;
  padding: 0 1.5em;
}

.testimonios .activa {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  font-weight: bold;
}

.footer span {
  display: block;
}

.footer h2 {
  padding: 1rem 0;
  border: 0;
}

.footer p,
.footer h2,
.footer a {
  color: #ffffff;
}

.footer__superior {
  background: #0052d4;
  display: -ms-grid;
  display: grid;
}

.footer__superior .izquierda {
  padding-bottom: 2em;
}

.footer__superior .izquierda .alinear {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
      grid-template-areas: "lugar direccion" "tiempo entre-semana" ". sabado" ". domingo";
}

.footer__superior .izquierda .alinear .lugar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lugar;
}

.footer__superior .izquierda .alinear .direccion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: direccion;
}

.footer__superior .izquierda .alinear .tiempo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tiempo;
}

.footer__superior .izquierda .alinear .entre-semana {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: entre-semana;
}

.footer__superior .izquierda .alinear .sabado {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: sabado;
}

.footer__superior .izquierda .alinear .domingo {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: domingo;
}

.footer__superior .derecha {
  margin: 0;
  padding: 0;
}

.footer__superior .derecha iframe {
  width: 100%;
  height: 20em;
  margin: 0;
  padding: 0;
}

.footer__inferior {
  background: #22303a;
  padding: 2em;
}

.footer__inferior p {
  font-weight: normal;
  margin: 0;
}

.boton {
  text-align: center;
  margin: 1em 0;
}

.boton__contenido {
  font-size: 0.7em;
  border-radius: 0.7em;
  padding: 0.6em 1em;
  background: #002fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.boton__contenido:hover {
  background: #4364f7;
}

@-webkit-keyframes close-menu {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes close-menu {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide-x {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide-x {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes hide-item-anim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
}

@keyframes hide-item-anim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
}

@media only screen and (min-width: 500px) {
  .informacion__margen .buttons {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-row-gap: 1em;
  }
  .footer__superior {
    -ms-grid-columns: 38% auto;
        grid-template-columns: 38% auto;
  }
  .footer__superior .izquierda .buttons {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-row-gap: 1em;
  }
  .footer__superior .derecha iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 650px) {
  .hero {
    height: 20em;
  }
  .hero__background {
    height: 20em;
  }
  .hero .hero__info p {
    font-size: 1.5em;
  }
  .button {
    display: none !important;
  }
  .slider__wrapper {
    -webkit-transform: none !important;
            transform: none !important;
    grid-column-gap: 1em;
    position: relative;
  }
  .tratamientos {
    -ms-grid-rows: 0fr 0fr 1fr;
        grid-template-rows: 0fr 0fr 1fr;
    margin-bottom: 90px;
  }
  .tratamientos .slider__wrapper {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .tratamientos .tarjeta {
    min-width: 0;
    max-width: 12.5em;
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .tratamientos .tarjeta:hover .tarjeta__imagen {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .tratamientos .tarjeta:hover .tarjeta__inferior-leer img {
    padding-left: 0.5em;
  }
  .testimonios {
    -ms-grid-rows: 0fr 0fr 1fr;
        grid-template-rows: 0fr 0fr 1fr;
    margin-bottom: 90px;
    /*.slider {
    //width: auto;
    }
    
    
    .tarjeta {
      margin-top: 4em;
      opacity: 1;
      min-width: 0;
      //grid-column: 1 / span 2;
    }
    .tarjeta:nth-of-type(1){
      margin-top: 2em;
    }*/
  }
  .testimonios .tarjeta {
    margin-top: 4em;
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    min-width: 0;
    max-width: 19.5em;
  }
  .testimonios .tarjeta__testimonio {
    text-align: left;
  }
  .testimonios .tarjeta__testimonio p {
    margin-top: 0;
  }
  .testimonios .tarjeta:nth-child(1) {
    max-width: 40em;
    margin-top: 2em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .testimonios .slider {
    width: auto;
  }
  .testimonios .slider__wrapper {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 998px) {
  body {
    font-size: 19px;
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    height: initial;
    padding: initial;
    font-size: 14px;
  }
  .header__complete {
    display: none;
  }
  .header__left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-column-gap: 3em;
    padding: 1em 0;
  }
  .header__left img {
    height: 65px;
  }
  .header__left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-flex-line-pack: center;
        align-content: center;
    grid-column-gap: 2em;
  }
  .header__left ul img {
    height: 0.6em;
  }
  .header__left ul a {
    color: white;
  }
  .header__left .withTriangle {
    color: white;
    position: relative;
  }
  .header__left .withTriangle:hover .dropdown {
    display: block;
  }
  .header__left .withTriangle .dropdown {
    display: none;
    position: absolute;
    background: linear-gradient(195deg, rgba(61, 61, 242, 0.98) 0%, #68aaf5 100%);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.39);
    z-index: 1;
  }
  .header__left .withTriangle .dropdown ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .header__left .withTriangle .dropdown ul li {
    padding: 6px 16px;
  }
  .header__left .withTriangle .dropdown ul li a {
    display: block;
    width: 100%;
  }
  .header__left .withTriangle .dropdown ul li:first-child {
    padding-top: 12px;
  }
  .header__left .withTriangle .dropdown ul li:last-child {
    padding-bottom: 12px;
  }
  .header__left .withTriangle .dropdown ul li:hover {
    background: rgba(53, 53, 53, 0.589);
  }
  .header__left .withTriangle img {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header__left .withTriangle:hover img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__right {
    text-align: center;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    background: white;
    -webkit-clip-path: ellipse(96% 200% at 96% 90%);
            clip-path: ellipse(96% 200% at 96% 90%);
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header__right p {
    margin: 0;
    text-align: left;
    margin-left: 65px;
  }
  .header__right .buttons {
    -ms-grid-columns: (10.5em)[auto-fit];
        grid-template-columns: repeat(auto-fit, 10.5em);
  }
  .header__right .buttons a {
    margin-left: 1.5em;
  }
  .header__right .buttons .telefono {
    background: #4364f7;
  }
  .hero {
    height: calc(100vh - 93px);
  }
  .hero__background {
    height: calc(100vh - 93px);
  }
  .hero__info {
    font-size: 1.3em;
  }
  .testimonios .slider__wrapper {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .testimonios .tarjeta {
    min-width: 12.5em;
  }
  .testimonios .tarjeta:nth-child(1) {
    margin-top: 4em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
    max-width: 19.5em;
  }
  .quienessomos__contenido img {
    margin: 2em auto 0;
    width: 80%;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    font-size: 25px;
  }
  .header {
    font-size: 16.5px;
  }
  .header__left img {
    height: 112px;
  }
  .header__right p {
    margin-left: 100px;
  }
  .hero {
    height: calc(100vh - 145px);
  }
  .hero__background {
    height: calc(100vh - 145px);
  }
}

@media only screen and (min-width: 1470px) {
  .header {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */